.form {
    width: 100%;
    height: 80%;

    font-size: 1.6rem;
}

.form label {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
    height: 20%;
}

.form input {
    padding: 1rem;
    outline: none;
    background: #fff;
    border: 1px solid #c9cacc;
    box-sizing: border-box;
    border-radius: 4px;
    height: 40%;
    cursor: pointer;
}

.form input:focus {
    outline: none;
    background-color: #e0d4fd;
}

.form-btn {
    font-size: 1.8rem;
    background-color: #002140;
    color: white;
    border: 1px solid #002140;
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
    cursor: pointer;
}

.form-btn:hover,
.form-btn:active {
    background-color: #002140;
    border-color: #002140;
}

.form-actions {
    text-align: right;
}
.invalid input {
    border: 1px solid #b40e0e;
    background-color: #fddddd;
}

.invalid input:focus {
    border-color: #ff8800;
    background-color: #fbe8d2;
}

.error {
    font-size: 1.6rem;
    color: #b40e0e;
}

.actions {
    display: flex;
    justify-content: space-around;
}
