table {
    width: 70vw;
    margin: 0 auto;
    font-size: 1.8rem;
    cursor: pointer;
    border-collapse: collapse;
    box-shadow: 0.5rem 0.5rem 0.5rem 0.3rem rgba(0, 0, 0, 0.2);
}

thead tr {
    background-color: #002140;
    color: #fff;
}

thead th {
    width: 20%;
}

tbody td {
    width: 20rem;
}

tbody tr:nth-child(odd) {
    background-color: transparent;
}

tbody tr:nth-child(even) {
    background-color: #999;
}

th,
td {
    padding: 1.6rem 1rem;
    text-align: left;
    font-size: 1.5rem;
}

.container {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
